{% extends 'base.jinja' %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="d-flex flex-wrap justify-content-around" style="flex-direction: row-reverse;">
        <a href="/recipes" style="margin: 20px;">Volver a Recetas</a>
        <div class="col-5 mx-auto border p-5 my-5 text-light bg-dark">
            <h2 class="text-center">{{user.first_name}}, edita la receta seleccionada</h2>
            <p class="text-center"><i>Todos los campos son requeridos</i></p>
            <form action="/editrecipe/{{recipe_for_edit.recipe_id}}" method="post">
                <div class="mb-3">
                    <label for="name class="form-label>Nombre de la Receta:</label>
                    <input name="name" type="text" class="form-control" aria-describedby="emailHelp" value="{{recipe_for_edit.name}}" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción:</label>
                    <textarea name="description" type="text" class="form-control"cols="30" rows="4" required >{{recipe_for_edit.description}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="instructions" class="form-label">Instrucciones</label>
                    <textarea name="instructions" type="text" class="form-control" cols="30" rows="6" required >{{recipe_for_edit.instructions}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="date_made" class="form-label">La Receta fue hecha el:</label>
                    <input type="date" class="form-control" aria-describedby="emailHelp" name="date_made" value="{{recipe_for_edit.date_made}}"required>
                </div>
                <div class="mb-3">
                    
                    <label for="under" class="form-label" >¿La Receta se hace en menos de 30 minutos? </label><br>
                    {% if recipe_for_edit.under == 1 %}
                    <input type="radio" id="yes" name="under" value="1" checked="True" required>
                    <label for="yes">Yes</label><br>
                    {% else %}
                    <input type="radio" id="no" name="under" value="0" checked="True" required>
                    <label for="no">No</label><br>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}